/**<----- Global ----->*/

/** <----- Variables -----> */
:root {
	--text-color: #ffffff;
	--link-color: #0dcaf0;

	--blue-500: #12232e;
	--blue-400: #203647;
	--blue-300: #284155;
	--blue-200: #023e8a;
	--blue-100: #4da8da;

	--gray-500: #1c1c1c;
	--gray-400: #343434;
	--gray-300: #555555;
	--gray-200: #696969;
	--gray-100: #7c7c7c;

	--beige-500: #a67a5b;
	--beige-400: #c19770;
	--beige-300: #d5b895;
	--beige-200: #e8dcb5;
	--beige-100: #faf0dc;

	/* --test: var(--blue-500); */
	--bg-primary-dark: var(--blue-500);
	--bg-primary-medium: var(--blue-400);
	--bg-primary-light: var(--blue-200);
	--bg-secondary-medium: var(--blue-300);
	--bg-secondary-light: var(--blue-100);
}

/** <----- Main colors -----> */
.bg-primary-dark {
	/* background-color: var(--blue-500); */
	/* background-color: var(--gray-500); */
	/* background-color: var(--test); */
	background-color: var(--bg-primary-dark);
}

.bg-primary-medium {
	/* background-color: var(--blue-400); */
	background-color: var(--bg-primary-medium);
}

.bg-primary-light {
	/* background-color: var(--blue-200); */
	background-color: var(--bg-primary-light);
}

/* .bg-secondary-dark {
} */

.bg-secondary-medium {
	/* background-color: var(--blue-300); */
	background-color: var(--bg-secondary-medium);
}

.bg-secondary-light {
	/* background-color: var(--blue-100); */
	background-color: var(--bg-secondary-light);
}

.bg-rainbow {
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
}

/** <----- Table striped color -----> */
.table-striped.table-striped > tbody > tr:nth-of-type(odd) {
	/* background-color: var(--blue-400); */
	background-color: var(--bg-primary-medium);
	color: var(--text-color);
}

.text-color {
	color: var(--text-color);
}

.link-color-sidebar {
	color: var(--text-color);
}

.link-color {
	color: var(--link-color);
	text-decoration: none;
}

.link-color:hover {
	color: var(--link-color);
	text-decoration: underline;
}

/* #table-striped.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: var(--blue-400);
} */

/** <----- new line from JSON -----> */
.new-line {
	white-space: pre-line;
	vertical-align: bottom;
}

/**<----- Navbar active class ----->*/
.active-navbar {
	/* color: black; */
	/* border: 1px solid green; */
	/* text-decoration-color: #0b4dda; */
	/* background-color: #0b4dda; */
	background-color: var(--bg-primary-light);
	border-radius: 5px;
}

/**<----- Elements Colors ----->*/

.text-anemo {
	color: #26a684;
}

.text-cryo {
	color: #4878a8;
}

.text-electro {
	color: #9336b0;
}

.text-geo {
	color: #b68d07;
}

.text-hydro {
	color: #0b4dda;
}

.text-pyro {
	color: #bf2818;
}

/**<----- Rarity Colors ----->*/
.rarity5bg {
	background: linear-gradient(
		-3deg,
		rgba(105, 84, 83, 0.565) 0%,
		rgba(161, 112, 78, 0.565) 39%,
		rgba(228, 171, 82, 0.565) 100%
	);
}

.rarity4bg {
	background: linear-gradient(
		-3deg,
		rgba(89, 84, 130, 0.565) 0%,
		rgba(120, 102, 157, 0.565) 39%,
		rgba(183, 133, 201, 0.565) 100%
	);
}

.rarity3bg {
	background: linear-gradient(
		-3deg,
		rgba(81, 84, 116, 0.565) 0%,
		rgba(80, 104, 135, 0.565) 39%,
		rgba(75, 160, 180, 0.565) 100%
	);
}

/**<----- Bold first line in weapons component ----->*/
.bold p::first-line {
	font-weight: bold;
}

/**<----- Image gallery framer motion ----->*/
.item {
	min-height: 100%;
	min-width: 10rem;
	padding: 10px;
}

.item img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	pointer-events: none;
}

.inner-carousel {
	display: flex;
	/* background: lightblue; */
}

.carousel {
	cursor: grab;
	overflow: hidden;
	/* background-color: orange; */
}
