/*<----- elements colors ----->*/

.text-anemo {
	color: #26a684;
}

.text-cryo {
	color: #4878a8;
}

.text-electro {
	color: #9336b0;
}

.text-geo {
	color: #b68d07;
}

.text-hydro {
	color: #0b4dda;
}

.text-pyro {
	color: #bf2818;
}








