/**<----- Global ----->*/

/** <----- Variables -----> */
:root {
	--blue-500: #12232e;
	--blue-400: #203647;
	--blue-300: #284155;
	--blue-200: #023e8a;
	--blue-100: #4da8da;

	/* --test: var(--blue-500); */
}

/** <----- Main colors -----> */
.bg-primary-dark {
	background-color: var(--blue-500);
	/* background-color: var(--test); */
}

.bg-primary-medium {
	background-color: var(--blue-400);
}

.bg-primary-light {
	background-color: var(--blue-200);
}

/* .bg-secondary-dark {
} */

.bg-secondary-medium {
	background-color: var(--blue-300);
}

.bg-secondary-light {
	background-color: var(--blue-100);
}

/** <----- Table striped color -----> */
.table-striped.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: var(--blue-400);
	color: white;
}

.text-color {
	color: white;
}

.link-color-sidebar {
	color: white;
}

.link-color {
	color: #0dcaf0;
	text-decoration: none;
}

.link-color:hover {
	color: #0dcaf0;
	text-decoration: underline;
}

/* #table-striped.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: var(--blue-400);
} */

/** <----- new line from JSON -----> */
.new-line {
	white-space: pre-line;
	vertical-align: bottom;
}

/**<----- Navbar active class ----->*/
.active-navbar {
	/* color: black; */
	/* border: 1px solid green; */
	/* text-decoration-color: #0b4dda; */
	/* background-color: #0b4dda; */
	background-color: var(--blue-200);
	border-radius: 5px;
}

/**<----- Elements Colors ----->*/

.text-anemo {
	color: #26a684;
}

.text-cryo {
	color: #4878a8;
}

.text-electro {
	color: #9336b0;
}

.text-geo {
	color: #b68d07;
}

.text-hydro {
	color: #0b4dda;
}

.text-pyro {
	color: #bf2818;
}

/**<----- Rarity Colors ----->*/
.rarity5bg {
	background: linear-gradient(
		-3deg,
		rgba(105, 84, 83, 0.565) 0%,
		rgba(161, 112, 78, 0.565) 39%,
		rgba(228, 171, 82, 0.565) 100%
	);
}

.rarity4bg {
	background: linear-gradient(
		-3deg,
		rgba(89, 84, 130, 0.565) 0%,
		rgba(120, 102, 157, 0.565) 39%,
		rgba(183, 133, 201, 0.565) 100%
	);
}

.rarity3bg {
	background: linear-gradient(
		-3deg,
		rgba(81, 84, 116, 0.565) 0%,
		rgba(80, 104, 135, 0.565) 39%,
		rgba(75, 160, 180, 0.565) 100%
	);
}

/**<----- Bold first line in weapons component ----->*/
.bold p::first-line {
	font-weight: bold;
}

/**<----- Image gallery framer motion ----->*/
.item {
	min-height: 100%;
	min-width: 10rem;
	padding: 10px;
}

.item img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	pointer-events: none;
}

.inner-carousel {
	display: flex;
	/* background: lightblue; */
}

.carousel {
	cursor: grab;
	overflow: hidden;
	/* background-color: orange; */
}
